<!DOCTYPE html>

<html>
  <head>
    <link rel=stylesheet type=text/css href=reset.css>
  </head>

  <body>
    <ul>
      <% Human.all.each do |human| %>
        <li>
          <%= human.name %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
