<form action="/create" method="post">
  <ul>
    <li>
      <label>Name: </label>
      <input type='text' name='name' />
    </li>

    <li>
      <label>Weight: </label>
      <input type='number' name='weight' />
    </li>

    <li>
      <label>Height: </label>
      <input type='number' name='height' />
    </li>

    <li>
      <label>Fitness Level: </label>
      <input type='number' name='fitness_level' />
    </li>

    <input type="submit" value="Submit">
  </ul>
</form>
