<form action="/create" method="post">
  Name: <input type='text' name='name'><br>
  Weight: <input type='number' name='weight'><br>
  Height: <input type='number' name='height'><br>
  Fitness Level: <input type='number' name='fitness_level'><br>
  <input type="submit" value="Submit">
</form>
